/* You can add global styles to this file, and also import other style files */
/* body{

    background-image: url('https://media.istockphoto.com/id/1154073003/photo/ready-for-travel.jpg?s=612x612&w=0&k=20&c=Pl7jiUeZ1iMGmJlur8xDu9dQOHJH5ieB0Uegpn5no_0=');
    background-size: cover;
    opacity: 0.5;
} */