
<div class="container">
 <form class="w-50 mx-auto mt-5"[formGroup]="articleForm" #ref="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter the title">
        <div *ngIf="title?.invalid&&(title?.dirty||title?.touched||ref.submitted)" class="text-danger">
            <p *ngIf="title?.errors?.['required']">Title is required</p>

        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="category">Category:</label>
        <select id="category"  class='form-control' formControlName="category">
            <option *ngFor="let category of categories" class="form-control" [value]="category">{{category}}</option>
        </select><br>
        <div *ngIf="articleForm.get('category').hasError('required')">Required</div>

    </div>

    <div class="mb-3">
        <label class="form-label" for="imageUrl">Choose Image</label>
        <input type="file" id="imageUrl" class="form-control" name="imageUrl" formControlName="imageUrl" placeholder="Select file" (input)="onChange(f.files[0])" #f >
        <div *ngIf="imageUrl?.invalid&&(imageUrl?.dirty||imageUrl?.touched||ref.submitted)" class="text-danger">
            <p *ngIf="imageUrl?.errors?.['required']">Url is required</p>

        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="summary">Summary:</label>
        <textarea  class="form-control" id="summary" formControlName="summary" placeholder="Enter the Summary" cols="30"></textarea>
        <div *ngIf="summary?.invalid&&(summary?.dirty||summary?.touched||ref.submitted)" class="text-danger">
            <p *ngIf="summary?.errors?.['required']">Summary is required</p>

        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="content">Content:</label>
        <textarea  class='form-control' id="content" formControlName="content" placeholder="Enter your Content" cols="30"></textarea>
        <div *ngIf="content?.invalid&&(content?.dirty||content?.touched||ref.submitted)" class="text-danger">
            <p *ngIf="content?.errors?.['required']">Content is required</p>

        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <textarea id="username"  class="form-control" formControlName="username" placeholder="Enter your Name" cols="30"></textarea>
        <div *ngIf="username?.invalid&&(username?.dirty||username?.touched||ref.submitted)" class="text-danger">
            <p *ngIf="username?.errors?.['required']">Username is required</p>

        </div>
    </div>

    <div class="buttons">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
        <button (click)="navigateBack()">Go back</button>

    </div>



 </form>
</div>
