<div class="read-more">
    <h2 class="text-center">Article Details</h2>
    <div *ngIf="article">
        <div class="article-info">
            <div class="article-content">
                <h3>{{article?.title}}</h3>
                <div class="article-image">
                    <img [src]="article?.imageUrl" alt="" class="float-left" height="300px" width=auto>
                </div>
                <p class="para">{{article?.content}}</p>
            </div>
        </div>
    </div>
</div>

@if(isUser){
    <h3>Write a Review</h3>
    <form class='form-group' [formGroup]="reviewForm">
        <div>
            <label class="form-label" for="rating">Rating:</label>
            <input type="number"  class='form-control' id="rating" name="rating" formControlName="rating" min="1" max="5" >
        </div>
        <div>
            <label  class="form-label" for="comment">Comment:</label>
            <textarea id="comment" class='form-control' name="comment" formControlName="comment" rows="4" ></textarea>
        </div>
        <button type="submit" *ngIf="showSubmit" (click)="submitReview()">Submit Review</button>
        <button type="submit" *ngIf="showUpdate" (click)="updateReview()" >Update Review</button>
    </form>
}
@else{

}


<h3>Reviews</h3>
<ul>
    <li *ngFor="let review of reviews">
        <p>Rating: {{ review.rating }}</p>
        <p>Comment: {{ review.comment }}</p>
        <p>Created At:{{review.createdAt | date}}</p>
        @if(isUser) {
            <button type="button" (click)="deleteReview(review._id)" style="background-color: red;margin-right: 10px;">Delete</button>


            <button type="button" (click)="editReview(review)">Edit</button>
        } 
        @else{

        }    
     

    </li>
</ul>