<h2 class="mb-2">Article Details-{{category}}</h2>

<label for="filter">Filter by name:</label>
<input type="text" id="filter" [(ngModel)]="searchQuery" placeholder="Search here...">
<button class="btn btn-primary mb-10" (click)="filterArticles()">filter</button>


<div class="fluid-container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3" *ngFor="let article of articles">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{article?.title}}</h5>
          <img  height="200px" width="200px" [src]="article?.imageUrl">
          <div class="justify align-content">
            <p class="card-text my-3 h-10 " style="overflow: hidden;">{{article?.summary}}</p>
          </div>
          <div class="foot">
            <h6 class="card-subtitle mb-2 text-body-secondary">{{article?.username}}</h6>
            <a (click)="navigateToReadMore(article._id)">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



