<div class="fluid-container">
<div class="containers text-end">

    <p class="h5 text-dark">Welcome,{{currentUsername}}</p>
    <p class="h5 text-dark">{{currentEmail}}</p>
     
</div>

<div class="container">

    <div class="card-1 display-flex">
        <h3>Fiction</h3>
        <p>Something imaginary or invented!!</p>
        <button class="genre" (click)="navigateToArticleDetails(currentUsername,'fiction')">Fiction</button>
    </div>

    <div class="card-2 display-flex">
        <h3>Novel</h3>
        <p>Something imaginary or invented</p>
        <button  class="genre" (click)="navigateToArticleDetails(currentUsername,'novel')">Novel</button>
    </div>

    <div class="card-3 display-flex">
        <h3>History</h3>
        <p>Something imaginary or invented</p>
        <button class="genre" (click)="navigateToArticleDetails(currentUsername,'history')">History</button>
    </div>

</div>
</div>