<div class="fluid-container">
  <p class="display-1 text-center text-white" style="font-weight: 400;" >LOGIN</p>

    @if(userCredentialsError.userCredErrStatus){
      <p class="text-danger fs-3 text-center">{{userCredentialsError.userCredErrMsg}}</p>
    }

  <form class="w-50 mx-auto mt-3" [formGroup]="userCredentials" (ngSubmit)="onSubmitUser()" #ref="ngForm">

    <div class="mb-2">
      <input type="radio" formControlName="loginType" id="user" value="user">
      <label for="user" class="text-info mb-2">User</label>
  
      <input type="radio" formControlName="loginType" id="author" value="author">
      <label for="author" class="text-info">Author</label>
    </div>
  

    <div class="mb-2">
      <label for="username" class="form-label h5 text-white">Username</label>
      <input type="text" formControlName="username" id="username" class="form-control">
      <div *ngIf="username?.invalid &&(username?.dirty||username?.touched||ref.submitted)">
        <p *ngIf="username?.errors?.['required']" class="text-warning">Username is required</p>
        <p *ngIf="username?.errors?.['minlength']" class="text-warning">MinLength is 4</p>
        <p *ngIf="username?.errors?.['maxlength']" class="text-warning">MaxLength is 6</p>
      </div>
    </div>
    
    <div class="mb-2">
      <label for="password" class="form-label h5 text-white">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control">
      <div *ngIf="password?.invalid &&(password?.dirty||password?.touched||ref.submitted)">
        <p *ngIf="password?.errors?.['required']" class="text-warning">Password is required</p>
      </div>
    </div>

    <button class="btn btn-success d-block mx-auto">Login</button>
    <p class=" back text-center text-light h6">Don't have an account?<a routerLink="/register">Register</a></p>

  </form>
</div>
