<ul class="nav justify-content-end  bg-dark text-light">
  @if(status===false){
  <li class="nav-item">
    <a class="nav-link text-light " aria-current="page" routerLinkActive="Active" routerLink="home">HOME</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link text-light" routerLinkActive="Active" routerLink="register">REGISTER</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link text-light" routerLinkActive="Active" routerLink="login">LOGIN</a>
  </li>
  }
  @else{
  @if(!isUser){

  <li class="nav-item">
    <a class="nav-link text-light" routerLinkActive="Active" routerLink="add-article">ADD ARTICLE</a>
  </li>
  }

  <li class="nav-item">
    <a class="nav-link text-light" routerLinkActive="Active" routerLink="login"
      (click)="userLogout()">LOGOUT</a>
  </li>

  }